body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #ffe6f2;
    color: #f280a8;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.products {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 20px;
    width: 80%;
}

article {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    width: 15rem;
}

article img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

article h2 {
    color: #ff8bb4;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

article h3 {
    color: #da5899;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.filter-btn {
    background-color: #ffffff;
    color: #ff8bb4;
    border: 1px solid #ff8bb4;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}


.filter-btn:hover {
    background-color: #ff87b1;
    color: white;
}

.glitter-btn:hover,
.glitter-btn:active,
.glitter-btn:focus {
    background-image: url('../images/glitters.jpeg');
    background-size: cover; 
    background-position: center; 
    color: white;

}

.filters {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 20px;
}



.filter-btn.active {
    background-color: #ff8bb4;
    color: white;
}

.add {
    background-color: #ffffff;
    color: #ff8bb4;
    border: 1px solid #ff8bb4;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.add:hover{
    background-color: #ff8bb4;
    color: white;
}


@media screen and (max-width: 1300px) {
    .products {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 900px) {
    .products {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .products {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
}
