nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff8bb4; 
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    padding: 1rem 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

nav .pg {
    text-decoration: none;
    color: #fff;
    margin-left: 2em;
    font-size: 1.8rem;
}

nav .nav-right {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding-right: 5em;
}

nav .cart-btn,
nav .logout-btn,
nav .nav-link {
    color: #ff87b1;
    background-color: #ffffff;
    padding: 0.6rem 1.1rem;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    border: 2px solid transparent; /* Transparante border */

}

nav .cart-btn:hover,
nav .logout-btn:hover,
nav .nav-link:hover { 
    background-color: #feb9d5;
    color: white;
    border: 2px solid white;
}