body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #ffe6f2;
    color: #f280a8;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
}

.checkout-container {
    width: 80%;
    max-width: 1200px;
    margin-top: 20px;
}

.checkout-overview {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

.checkout-overview h2 {
    font-size: 1.5rem;
    color: #f280a8;
    margin-bottom: 20px;
    text-align: center;
}

.checkout-overview table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.checkout-overview th, .checkout-overview td {
    padding: 10px;
    text-align: center;
}

.checkout-overview th {
    background-color: #ffe6f2;
}

.checkout-overview td {
    background-color: #fff;
}

.checkout-overview img {
    width: 50px;
    height: auto;
    margin-right: 10px;
    border-radius: 5px;
}

.cart-total {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    font-size: 1.2rem;
}

.cart-total p {
    margin: 0;
}

.cart-total strong {
    color: #f280a8;
}

.checkout-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin-bottom: 50px;
}

.checkout-form h2 {
    font-size: 1.2rem;
    color: #f280a8;
    text-align: center;
    margin-bottom: 20px;
}

.checkout-form label {
    font-size: 1rem;
    color: #f280a8;
    display: block;
    margin-bottom: 10px;
}

.checkout-form textarea,
.checkout-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #f280a8;
    border-radius: 5px;
    font-size: 1rem;
}

.checkout-form button {
    width: 100%;
    padding: 10px;
    background-color: #ff8bb4;
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.checkout-form button:hover {
    background-color: #f280a8;
}

.checkout-form button:active {
    background-color: #e6005c;
}
