body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #ffe6f2;
    color: #f280a8;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
}

h4 {
    padding-top: 30px;
}

.order-container {
    width: 80%;
    margin-top: 2rem;
    padding-bottom: 50px;
    text-align: center;
}

.order-container h1 {
    font-size: 2rem;
    color: #f280a8;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 8px;
}

th, td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #f280a8;
}

th {
    background-color: #ff8bb4;
    color: white;
}

.product-info {
    display: flex;
    align-items: center; /* Zorgt ervoor dat items verticaal gecentreerd worden */
    gap: 1rem; /* Voeg ruimte toe tussen de afbeelding en de tekst */
}

.product-info img {
    flex-shrink: 0; /* Voorkomt dat de afbeelding krimpt */
    width: 50px;
    height: 50px; /* Zorg voor een consistente hoogte */
    border-radius: 5px;
}

.product-info span {
    flex-grow: 1; /* Zorg dat tekst de rest van de ruimte opvult */
}

td {
    background-color: #fff;
}

td img {
    width: 50px;
    height: auto;
    border-radius: 5px;
}

.order-total {
    background-color: #fff;
    padding: 1rem;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 97%;
    text-align: center;
}

.order-total p {
    font-size: 1.2rem;
    color: #f280a8;
}
