/* Algemeen */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #ffe6f2;
    color: #f280a8;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Container voor productdetails */
.product-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 70%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin-top: 3rem;
}

/* Afbeelding links */
.product-image img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
}

/* Informatie rechts */
.product-info {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
    gap: 20px;
}

/* Stijl voor de tekst en prijs */
.product-info h1 {
    color: #ff8bb4;
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.product-info p {
    font-size: 1rem;
    color: #da5899;
    margin-bottom: 1.5rem;
    padding-right: 50px;
    padding-top: 20px;
}

.add,
a.edit-product-btn {
    background-color: #fff;
    color: #f280a8;
    border: 2px solid #f280a8;
    padding: 1em 2em;
    border-radius: 5px;
    font-size: 15px;
    text-decoration: none;
    margin-top: 30px;
}

a.edit-product-btn {
    margin-left: 40px;
}

.add:hover,
a.edit-product-btn:hover {
    background-color: #f280a8;
    color: white;
}

/* Reviews sectie */
.reviews-section {
    width: 70%; /* Zelfde breedte als product-details */
    margin-top: 3rem;
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.reviews-section h2 {
    color: #ff8bb4;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

#review-form {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

#review-text {
    width: 100%;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 1rem;
    resize: none;
}

#review-form button[type="submit"] {
    background-color: #f280a8;
    color: white;
    border: none;
    padding: 0em 1em;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

#review-form button[type="submit"]:hover {
    background-color: #da5899;
}

